.container {
	padding: 0 10%;
	overflow-x: hidden;
	max-width: 200rem;
	margin: 0 auto;
}

@media (max-width: 960px) {
	.container {
		padding: 0 2rem;
	}
}

@media (max-width: 360px) {
	.container {
		padding: 0 2rem;
	}
}
